/* Paste your CSS code here! */

@supports selector(:has(*)) {
  article:has(.featured) {
  padding: 1rem;
}

}

@supports (container-type: inline-size) {
  @container (min-width: 400px) {
  .card {
    font-size: 1.2rem;
  }
}

}